<h1 align="center">index file in demo</h1>
<hr style="border-top: 2px solid black;">

<br><br>
<%= link_to("Hello Page", {:controller=>"demo",:action=>"hello"})%>

<br><br>
ID: <%= @id %> <br>
ID: <%= params[:id] %>
<br><br>
PAGE: <%= @page %> <br>
PAGE: <%= params[:page] %>
