<%=link_to("<< Back To List",{controller:"home",action:"home_page"}) %>
<div class="Seller Index">
  <h1 align="center">SELLERS</h1><hr>
  <%# <%= link_to("Add New Address",new_seller_path,:class=>'action new')%>
  <br><br>
  <table class="heading" style="border: 3px solid black;" border="1" cellpadding=13 cellspacing=3 align='center'>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>PHONE_NUMBER</th>
      <th>EMAIL</th>
      <th>CREATED AT</th>
      <th>UPDATED AT</th>
      <!-- <th>ACTIONS</th> -->
    </tr>
    <% @sellers.each do |seller|%>
    <tr>
      <td><%= seller.id %></td>
      <td><%= seller.name %></td>
      <td><%= seller.phone_number %></td>
      <td><%= seller.email %></td>
      <td><%= seller.created_at %></td>
      <td><%= seller.updated_at %></td>
      <!-- <td>
        <%# <%= link_to("Show",seller_path(seller),:class=>"action show") %> %>
        <%# <%= link_to("Edit",edit_seller_path(seller),:class=>"action edit")%> %>
        <%# <%= link_to("Delete",delete_seller_path(seller),:class=>"action delete")%> %>
      </td> -->
    </tr>
    <% end %>
  </table>
</div>
