
<table summary="User Form Fields">
  <tr>
    <td>Name</td>
    <td> : </td>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td> : </td>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td> : </td>
    <td><%= f.text_field(:gender) %></td>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td> : </td>
    <td><%= f.text_field(:phone_number) %></td>
  </tr>
  <tr>
    <td>Address</td>
    <td> : </td>
    <td><%= f.text_field(:address) %></td>
  </tr>
</table><br>
