<%=link_to("<< Back To List",users_path,:class=>"Index Page") %>

<div class="Delete User">
  <h1 align='center'>DELETE USER</h1><hr><br>
  <%= form_for(@user,:method=>'delete') do |f| %>
    <% if @user.errors.any? %>
      <div class="error-explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> Prohibited this record from being saved:</h2>
        <ul>
          <% @user.errors.each do |attr,msg| %>
            <li><%= "#{attr}: #{msg}" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <table class="heading">
    <tr>
      <td><b>Id</b></td>
      <td> : </td>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <td><b>Name</b></td>
      <td> : </td>
      <td><%= @user.name.capitalize %></td>
    </tr>
    <tr>
      <td><b>Email</b></td>
      <td> : </td>
      <td><%= @user.email%></td>
    </tr>
    <tr>
      <td><b>Gender</b></td>
      <td> : </td>
      <td><%= @user.gender%></td>
    </tr>
    <tr>
      <td><b>Phone Number</b></td>
      <td> : </td>
      <td><%= @user.phone_number%></td>
    </tr>
    <tr>
      <td><b>Address</b></td>
      <td> : </td>
      <td><%= @user.address %></td>
    </tr>
    <tr>
      <td><b>Created At</b></td>
      <td> : </td>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <td><b>Updated At</b></td>
      <td> : </td>
      <td><%= @user.updated_at%></td>
    </tr>
  </table>
  <br><br>
  <input type="checkbox" id="validation_needed" name="validation_needed" value="1">
  <label for="validation_needed">Are you sure you want to delete the user named : <%= @user.name.capitalize%> ? </label>

  <div class="form-button">
    <center><%= f.submit("Delete User") %></center>
  </div>
  <% end %>
</div>
