<%=link_to("<< Back To List",users_path,:class=>"Index Page") %>

<div class="action delete">
  <h1 align='center'>DELETE USER</h1><hr><br>

  <%= form_for(@user,:method=>'delete') do |f| %>

  <table class="heading">
    <tr>
      <td><b>Id</b></td>
      <td> : </td>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <td><b>Name</b></td>
      <td> : </td>
      <td><%= @user.name.titleize %></td>
    </tr>
    <tr>
      <td><b>Email</b></td>
      <td> : </td>
      <td><%= @user.email%></td>
    </tr>
    <tr>
      <td><b>Gender</b></td>
      <td> : </td>
      <td><%= @user.gender.titleize%></td>
    </tr>
    <tr>
      <td><b>Phone Number</b></td>
      <td> : </td>
      <td><%= @user.phone_number%></td>
    </tr>
    <tr>
      <td><b>Address</b></td>
      <td> : </td>
      <td><%= @user.address.titleize %></td>
    </tr>
    <tr>
      <td><b>Created At</b></td>
      <td> : </td>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <td><b>Updated At</b></td>
      <td> : </td>
      <td><%= @user.updated_at%></td>
    </tr>
  </table>
  <br><br>
  <input type="checkbox" id="checkbox" name="checkbox" value="1" >
  <label for="checkbox">Are you sure you want to delete the user named: <%= @user.name.capitalize %>? </label>
  <%= render partial: 'errors', locals: { user: @user } %>

  <div class="form-button">
    <center><%= f.submit("Delete User") %></center>
  </div>
  <% end %>
</div>
