<%=link_to("<< Back To List",users_path,:class=>"Index Page") %>

<div class="Edit User">
  <h1 align='center'>USER</h1><hr><br>
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> Prohibited this user from being updated:</h2>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%=render(:partial => 'form', locals: {:f => f}) %>
    <input type="checkbox" id="validation_needed" name="validation_needed" value="1">
    <label for="validation_needed">Are you sure you want to update the user named : <%= @user.name.capitalize%> ? </label>
    <br><br>
    <div class="form-button">
      <%= f.submit("Update User") %>
    </div>
  <% end %>
</div>
