<%=link_to("<< Back To List",users_path,:class=>"Index Page") %>

<div class="action edit">
  <h1 align='center'>USER</h1><hr><br>

  <%= form_for(@user)  do |f| %>

    <%=render(:partial => 'form', locals: {:f => f}) %>

    <input type="checkbox" id="checkbox" name="user[checkbox]" value="1">
    <label for="checkbox">Are you sure you want to update the user named : <%= @user.name.titleize%> ? </label>
    <br><br>

    <%= render partial: 'errors', locals: { user: @user } %>
    <div class="form-button">
      <%= f.submit("Update User") %>
    </div>
  <% end %>
</div>
