<%=link_to("<< Back To List",users_path,:class=>"Index Page") %>

<div class="action edit">
  <h1 align='center'>USER</h1><hr><br>

  <%= form_for(@user)  do |f| %>

    <%=render(:partial => 'form', locals: {:f => f}) %>

    <div class="field">
      <%= f.label :accept do %>
        <%= f.check_box :accept %>
        Are you sure you want to update the user?
      <% end %><br><br>
    </div>

    <%= render partial: 'errors', locals: { user: @user } %>
    <div class="form-button">
      <%= f.submit("Update User") %>
    </div>
  <% end %>
</div>
