<div class="User Index">
  <h1 align="center">USERS</h1><hr>
  <%= link_to("Add New User",new_user_path,:class=>'action new')%>
  <br><br>
  <table class="heading" style="border: 3px solid black;" border="1" cellpadding=13 cellspacing=3 align='center'>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>GENDER</th>
      <th>PHONE NUMBER</th>
      <th>ADDRESS</th>
      <th>CREATED AT</th>
      <th>UPDATED AT</th>
      <th>ACTIONS</th>
    </tr>
    <% @users.each do |user|%>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name.titleize %></td>
      <td><%= user.email %></td>
      <td><%= user.gender.titleize %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.address.titleize %></td>
      <td><%= user.created_at %></td>
      <td><%= user.updated_at %></td>
      <td>
        <%= link_to("Show",user_path(user),:class=>"action show") %>
        <%= link_to("Edit",edit_user_path(user),:class=>"action edit")%>
        <%= link_to("Delete",delete_user_path(user),:class=>"action delete")%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
