<%=link_to("<< Back To List",users_path,:class=>"Index Page") %>

<div class="acton new">
  <h1 align='center'>NEW USER</h1><hr><br>

  <%= form_for(@user,:url => users_path,:method=>'post') do |f| %>
    <%=render(:partial => 'form', locals: {:f => f}) %>
    <%= render partial: 'errors', locals: { user: @user } %>
    <div class="form-button">
      <%= f.submit("Add User") %>
    </div>
  <% end %>
</div>
