<%=link_to("<< Back To List",users_path,:class=>"Index Page") %>

<div class="Action show">
  <h1>USER</h1><hr>
  <table class="heading">
    <tr>
      <td><b>Id</b></td>
      <td> : </td>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <td><b>Name</b></td>
      <td> : </td>
      <td><%= @user.name.capitalize %></td>
    </tr>
    <tr>
      <td><b>Email</b></td>
      <td> : </td>
      <td><%= @user.email%></td>
    </tr>
    <tr>
      <td><b>Gender</b></td>
      <td> : </td>
      <td><%= @user.gender%></td>
    </tr>
    <tr>
      <td><b>Phone Number</b></td>
      <td> : </td>
      <td><%= @user.phone_number%></td>
    </tr>
    <tr>
      <td><b>Address</b></td>
      <td> : </td>
      <td><%= @user.address.capitalize %></td>
    </tr>
    <tr>
      <td><b>Created At</b></td>
      <td> : </td>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <td><b>Updated At</b></td>
      <td> : </td>
      <td><%= @user.updated_at%></td>
    </tr>
    <tr>
      <td><b>Actions</b></td>
      <td> : </td>
      <td>
        <%= link_to("Edit",edit_user_path(@user),:class=>"action edit")%>
        <%= link_to("Delete",delete_user_path(@user),:class=>"action delete")%>
      </td>
    </tr>
  </table>
</div>
