<div class="Payment_types Index">
  <h1 align="center">PAYMENT TYPES</h1><hr>
  <%# <%= link_to("Add New Address",new_payment_type_path,:class=>'action new')%>
  <br><br>
  <table class="heading" style="border: 3px solid black;" border="1" cellpadding=13 cellspacing=3 align='center'>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>CREATED AT</th>
      <th>UPDATED AT</th>
      <th>ACTIONS</th>
    </tr>
    <% @payment_types.each do |payment_type|%>
    <tr>
      <td><%= payment_type.id %></td>
      <td><%= payment_type.title %></td>
      <td><%= payment_type.description %></td>
      <td><%= payment_type.created_at %></td>
      <td><%= payment_type.updated_at %></td>
      <td>
        <%# <%= link_to("Show",payment_type_path(payment_type),:class=>"action show") %>
        <%# <%= link_to("Edit",edit_payment_type_path(payment_type),:class=>"action edit")%>
        <%# <%= link_to("Delete",delete_payment_type_path(payment_type),:class=>"action delete")%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
