<div>
  <h1 align='center'>HOME PAGE</h1><hr>
  <ul>
    <li><%= link_to('Addresses',{controller:"address",action:"index"})%></li>
    <li><%= link_to('Brands',{controller:"brand",action:"index"})%></li>
    <li><%= link_to('Categories',{controller:"category",action:"index"})%></li>
    <li><%= link_to('Customers',{controller:"customer",action:"index"})%></li>
    <li><%= link_to('Order',{controller:"order",action:"index"})%></li>
    <li><%= link_to('Payments',{controller:"payment",action:"index"})%></li>
    <li><%= link_to('Payment Types',{controller:"payment_type",action:"index"})%></li>
    <li><%= link_to('Products',{controller:"product",action:"index"})%></li>
    <li><%= link_to('Reviews',{controller:"review",action:"index"})%></li>
    <li><%= link_to('Sellers',{controller:"seller",action:"index"})%></li>
  </ul>
</div>
