<div class="User Index">
  <h1 align="center">USERS</h1><hr>
  <%= link_to("Add New User",new_user_path,:class=>"action new")%>

  <table class="heading">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user|%>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name.capitalize %></td>
      <td><%= user.email %></td>
      <td><%= user.gender.capitalize %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.address %></td>
      <td><%= user.created_at %></td>
      <td><%= user.updated_at %></td>
      <td>
        <%= link_to("Show User",user_path(user),:class=>"action new")%>
        <%= link_to("Edit User",edit_user_path(user),:class=>"action new")%>
        <%= link_to("Delete User",delete_user_path(user),:class=>"action new")%>
      </td>
